body {
	margin:0;
	font-family: 'Casual Contact MF';
}
* {
	box-sizing: border-box;
	margin:0;
}
/*Scroll*/
#progressbar {
	z-index: 100;
}
#scrollPath {
	z-index: 101;
}
/*Topbar*/
.topbar {
	position: sticky;
	padding:0 30px 0 30px;
	background-color: #000000;
}
.brightness-box {
	padding: 5px 5px 5px 5px;
	align-items: center;
	background: #f9f9f9;
	border-radius: 9px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.brightness-box i {
	margin: 0 10px;
}
#range {
	 width: 100%;
	 -webkit-appearance: none;
	 background: #000000;
	 height: 2px;
	 outline: none;
}
#range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	background: #727272;
	border-radius: 50%;
	cursor: pointer; 
}
/*Header*/
header {
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 0px 15px;
	z-index: 10;
}
header .row {
	justify-content: space-between;
	align-items: center;
}
header .name a {
	text-decoration: none;
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
}
header .navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
header .navbar ul li {
	display: inline-block;
	margin-left: 35px;
}
header .navbar ul li a {
	font-size: 15px;
	text-decoration: none;
	line-height: 72px;
	color: #ffffff;
	font-weight: 200;
	position: relative;
}
header .navbar ul li a::before {
	content: '';
	height: 2px;
	background-color: #ffffff;
	width: 0%;
	position: absolute;
	right: 0px;
	bottom: 100%;
	transition: all 0.5s ease;
}
header .navbar ul li a:hover::before {
	width: 100%;
	left: 0;
}
header .navbar ul li a.active::before {
	width: 100%;
	left: 0;
}
/*Main*/
.container {
	max-width: 1140px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.home {
	min-height: 100vh;
	/*background-color: #000;*/
	background-image: url("../images/main.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.home .row {
	min-height: 100vh;
}
.home .content {
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.home .content .block {
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
}
.home .content .block h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 400;
	margin: 0 0 10px;
	padding: 0;
	line-height: 1.2;
}
.home .content .block h3 {
	color: #ffffff;
	font-size: 26px;
	font-weight: 500;
	margin: 0;
	padding: 0; 
	line-height: 1.2;
	padding-bottom: 10px;
	padding-top: 10px;
}
.home .content .block .cntnt {
	padding-top: 15px;
	text-align: center;
}
.home .content .block .cntnt a {
	padding: 1px 3px 3px 4px;
	position: relative;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	transition: 0.5s;
	border-radius: 5px;
}
.home .content .block .cntnt a:hover {
	background: #fff;
	color: #111;
	box-shadow: 0 0 50px #fff;
	transition-delay: 0.3s;
}
.home .content .block .cntnt a:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:20px;
	height:10px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	transition: 0.5s;
	border-radius: 5px;
}
.home .content .block .cntnt a:hover:before{
	width: 98%;
	height: 92%;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}
.home .content .block .cntnt a:after {
	content:'';
	position:absolute;
	bottom: 0;
	right: 0;
	width:20px;
	height:10px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transition: 0.5s;
	border-radius: 5px;
}
.home .content .block .cntnt a:hover:after{
	width: 98%;
	height: 92%;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}
/*About*/
.about {
	padding: 100px 15px;
	background-color: #ffffff;
}
.about .row2 {
	text-align: center;
	align-items: center;
}
.about .title {
	text-align: center;
	text-transform: uppercase;
	line-height: 0;
	margin-bottom: 6rem;
}
.about .title h1 {
	font-size: 6rem;
	opacity: 0.3;
}
.about .title h3 {
	font-size: 3rem;
	font-weight: 300;
}
.about .content {
	
}
.about .content .img {
	flex: 0 0 40%;
	max-width: 40%;
}
.about .content .img img {
	width: 100%;
	display: block;
}
.about .content .text {
	flex: 0 0 60%;
	max-width: 60%;
	padding-left: 30px;
}
.about .content .text h4 {
	font-size: 25px;
	margin: 0 0 5px;
	color: #000000;
}
.about .content .text h6 {
	padding-top: 10px;
	font-size: 20px;
	margin: 0 0 15px;
	color: #000000;
}
.about .content .text h6 span {
	color: #ff0000;
}
.about .content .text p {
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	color: #727272;
	margin: 0 0 20px;
}
.about .content .text .info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about .content .text .info .list {
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #727272;
	padding-bottom: 10px;
}
.about .content .text .info .list label {
	padding-right: 10px;
	color: #000000;
	font-size: 15px;
}
.about .content .text .info .list p {
	margin: 0 0 1px 0;
	color: #727272;
}
.about .content .text .info .list p a {
	color: #727272;
	text-decoration: none;
}
.about .content .text .links {
	padding-top: 20px;
}
.about .content .text .links a {
	height: 35px;
	width: 35px;
	background-color: #000000;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid black;
	line-height: 28px;
	text-align: center;
	align-items: center;
	margin: 0 1px;
}
.about .content .text .links a img {
	align-items: center;
}
/*Flying text*/
.txt {
	position: relative;
	width: 100%;
	height: 30vh;
	overflow: hidden;
}
.home .content .block .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	overflow: hidden;
	background: white;
	clip-path: polygon(39% 23%, 50% 32%, 65% 60%, 48% 55%);
}
.home .content .block h1,
.home .content .block .text h1 {
	position: absolute;
	top: calc(50% - 50px);
	width: 100%;
	text-align: center;
	font-size: 55px;
	color: #000;
}
.home .content .block h1 {
	color: #fff;
}
/*Auto typing text*/
.typed-text {
	font-weight: normal;
	color: #ff0000;
}
.cursor {
	display: inline-block;
	width: 2px;
	background-color: #000000;
	margin-left: 0.1rem;
	animation: blink 1s infinite;
}
.cursor .typing {
	animation: none;
}
@keyframes blink {
	0% {background-color: #000000;}
	50% {background-color: transparent;}
	100% {background-color: #000000;}
}
/*Services*/
.services {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	min-height: 100vh; 
}
.services .container {
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px 0 50px;
}
.services .container .card {
	position: relative;
	height: 250px;
	background: #fff;
	display: flex;
	width: 45%;
	margin: 30px 0;
}
.services .container .card .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out; 
}
.services .container .card:hover .img {
	width: 160px;
	height: 160px;
	left: -75px;
	transition: 0.5s ease-in-out; 
}
.services .container .card .img img {
	filter: invert(1);
}
.services .container .card .img:before {
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 5em;
	color: rgba(255, 255, 255, 0.05);
	font-weight: 700;
}
.services .container .card .content {
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services .container .card .content h3 {
	margin-bottom: 5px;
	font-size: 24px;
}
.services .container .card .content a {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background: #333;
	text-decoration: none;
	color: #fff;
}
.container-slice {
	display: flex;
	justify-content: space-between;
}
.container-slice .left-slice {
	background-color: #000;
	height: 100px;
	width: 15%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.container-slice .right-slice {
	background-color: #000;
	height: 100px;
	width: 15%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.container-slice .sliced {
  	position: relative;
  	height: 100px;
  	width: 300px;
  	overflow: visible;
  	font-size: 60px;
  	margin: auto;
  	background-color: #000;
}
.container-slice .sliced:hover {
  	cursor: pointer;
}
.container-slice .sliced:hover::after {
  	-webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
}
.container-slice .sliced:hover::before {
  	-webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
}
.container-slice .sliced::after, 
.container-slice .sliced::before {
  	-webkit-transition: 0.3s all cubic-bezier(0.25, 0.1, 0.25, 1);
  	transition: 0.3s all cubic-bezier(0.25, 0.1, 0.25, 1);
  	height: 50%;
  	width: 100%;
  	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  	content: attr(data-text);
  	position: absolute;
  	left: 0;
  	top: 0;
  	overflow: hidden;
  	color: transparent;
  	display: inline-block;
  	display: -webkit-box;
  	display: flex;
  	-webkit-box-pack: center;
    justify-content: center;
}
.container-slice .sliced::before {
  	text-shadow: 0px 15px 0px white;
}
.container-slice .sliced::after {
  	top: 50%;
  	text-shadow: 0px -35px 0px white;
}
/*Portfolio*/
.portfolio .row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.portfolio .row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.portfolio ul li {
  float: left;
  margin: 0 0.8771929825%;
  overflow: hidden;
}
.portfolio {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.portfolio ul {
  padding-top: 50px;
  position: relative;
}
.portfolio ul li {
  margin-bottom: 20px;
  width: 23.2456140351%;
  position: relative;
}
.portfolio ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.portfolio ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.portfolio ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.portfolio ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.portfolio ul li a:hover:after {
  opacity: 1;
}

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #000;
  background-color: #000;
  z-index: 98;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
  color: #ffffff;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.close {
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 99;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  filter: invert(1);
}
.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio-text {
	color: white;
	font-size: 50px;
	text-align: center;
}













@media (max-width: 992px) 
{
	.services .container
	{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.services .container .card 
	{
		width: 400px;
	}
}
@media (max-width: 768px)
{
	.services .container .card 
	{
		max-width: 300px;
		flex-direction: column;
		height: auto;
	}
	.services .container .card .img 
	{
		position: relative;
	}
	.services .container .card .img,
	.services .container .card:hover .img
	{
		width: 100%;
		height: 200px;
		left: 0;
	}
	.services .container .card .img img,
	.services .container .card:hover .img img 
	{
		max-width: 100px;
	}
	.services .container .card .content 
	{
		position: relative;
		width: 100%;
	}
}
@media (max-width: 420px)
{
	.about .content .img {
	flex: 0 0 100%;
	max-width: 100%;
	}
	.about .content .text {
	flex: 0 0 100%;
	max-width: 100%;
	padding-top: 30px;
	}
	.skills .skills-content {
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	padding-bottom: 50px;
	}
	.skills .img {
	flex: 0 0 100%;
	max-width: 100%;
	}
}
